//Color
$textColor-0: rgb(12, 161, 203);
$textColor-1: rgb(9, 178, 225);
$textColor-2: rgb(107, 105, 105);
$textColor-3: gold;
$textColor-4: rgb(174, 11, 87);
$textColor-5: white;
$textColor-6: black;
$textColor-7: rgba(9, 178, 225, 0.484);
$textColor-8: blue;
$textColor-9:  rgb(8, 8, 188);
$heroBgColor: rgb(21, 21, 21);
$bgColor: rgb(174, 11, 87);
$bgColorHover: rgb(162, 10, 81);
$box-shadow: 0.5px 0.5px 6px rgba(128, 128, 128, 0.177);
$box-shadow-1: 1px 1px 6px rgba(128, 128, 128, 0.177);
$box-shadow-2: 3px -3px 10px rgba(128, 128, 128, 0.273);


.search-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    margin: 10px 0;
    max-width: 600px;
    // border: 2px solid purple;
}
.search-input {
    width: 100%;
    height: 45px;
    background-color: aliceblue;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.195);
    padding: 10px 20px;
    box-shadow: $box-shadow;
    border-radius: 10px 0 0 10px;
    font-size: 0.95rem;
    color: black;
}
.search-input:focus-within {
    background-color: white;
}
.search-button {
    height: 45px;
    background-color: $textColor-8 !important;
    color: white !important;
    border-radius: 0 10px 10px 0 !important;
    font-weight: normal !important;
}
.search-button:hover {
    background-color: $textColor-9 !important;
}

@media (max-width: 750px) {
    .search-input {
        height: 40px;
    }
    .search-button {
        height: 40px;
    }
}