.accordion-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
}

.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.3rem;
    font-weight: 500;
    background: white;
    color: black;
    overflow: hidden;
    padding: 10px;
    cursor: pointer;
    height: fit-content;
    gap: 5px;
    width: 100%;
    min-height: 70px;
}

.accordion-down-arrow {
    height: 25px;
    width: 15px;
    background-image: url(../icon/selectArrowIcon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-sizing: border-box;
    transform: rotate(0deg);
    transition: 300ms ease;
}

.accordion-down-arrow-show {
    transform: rotate(-180deg);
}

.faq-answer {
    height: fit-content;
    color: #6b6969;
    width: 100%;
    font-size: 1.05rem;
    padding: 5px 10px 20px 10px;
}

@media (max-width: 1000px) {
    .faq-question {
        font-size: 1.2rem;
    }

    .faq-answer {
        font-size: 0.1rem;
    }
}
@media (max-width: 750px) {
    .faq-question {
        font-size: 1.1rem;
    }

    .faq-answer {
        font-size: 0.95rem;
    }
}
@media (max-width: 350px) {
    .faq-question {
        font-size: 1rem;
    }

    .faq-answer {
        font-size: 0.9rem;
    }
}