.get-help-ticket-body {
    padding: 20px 10%;
}

.get-help-ticket-body section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 20px;
}

.ticket-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 100%;
    max-width: 600px;
}

.ticket-form label {
    font-size: 0.95rem;
    font-weight: 500;
}

.ticket-form input, textarea {
    border: 1px solid #6b6969;
    background-color: white;
    color: #6b6969;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.ticket-form input:focus-within, textarea:focus-within {
    color: black;
}

.ticket-form input {
    height: 40px;
    outline: none;
    border-radius: 2px;
}

.ticket-form textarea {
    outline: none;
    min-height: 60px;
    min-width: 100%;
}

.button-container {
    display: flex;
    gap: 20px;
    padding: 10px 0;
}

.get-help-ticket-body button {
    border-radius: 5px !important;
    height: 30px;
    font-weight: normal !important;
    font-size: 0.8rem !important;
}

.get-help-ticket-body button:nth-child(2) {
    background-color: white !important;
    color: navy;
    border: 1px solid rgba(128, 128, 128, 0.177) !important;
}

@media (max-width: 350px) {
    .get-help-ticket-body section {
        padding: 5% 10px;
    }
}