.get-help-home-body {
    padding: 20px 10%;
}

.get-help-home-body section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    overflow: hidden;
}

.help-card-wrapper {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    width: fit-content;
    gap: 20px;
}

@media (max-width: 1400px) {
    .help-card-wrapper {
        grid-template-columns: repeat(4, auto);
    }
}
@media (max-width: 1100px) {
    .help-card-wrapper {
        grid-template-columns: repeat(3, auto);
    }
}
@media (max-width: 1000px) {
    .help-card-wrapper {
        grid-template-columns: repeat(3, auto);
    }
}
@media (max-width: 750px) {
    .get-help-home-body {
        padding: 20px 5%;
    }

    .help-card-wrapper {
        grid-template-columns: repeat(3, auto);
    }
}
@media (max-width: 650px) {
    .help-card-wrapper {
        grid-template-columns: repeat(2, auto);
    }
}
@media (max-width: 450px) {
    .help-card-wrapper {
        grid-template-columns: repeat(1, auto);
    }
}