//Color
$textColor-0: rgb(12, 161, 203);
$textColor-1: rgb(9, 178, 225);
$textColor-2: rgb(107, 105, 105);
$textColor-3: gold;
$textColor-4: rgb(174, 11, 87);
$textColor-5: white;
$textColor-6: black;
$textColor-7: rgba(9, 178, 225, 0.484);
$textColor-8: blue;
$textColor-9:  rgb(8, 8, 188);
$heroBgColor: rgb(21, 21, 21);
$bgColor: rgb(174, 11, 87);
$bgColorHover: rgb(162, 10, 81);
$box-shadow: 0.5px 0.5px 6px rgba(128, 128, 128, 0.177);
$box-shadow-1: 1px 1px 6px rgba(128, 128, 128, 0.177);
$box-shadow-2: 3px -3px 10px rgba(128, 128, 128, 0.273);


header {
    background-color: $textColor-5;
    color: black;
    box-shadow: $box-shadow-1;
}

header .button {
    background-color: $textColor-8 !important;
    color: $textColor-5 !important;
}
header .button:hover {
    background-color: $textColor-9 !important;
}

.logo {
    color: $textColor-8;
}

.box {
    background-color: $textColor-6;
}


.search-nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 10px 6.5%;
    // border: 2px solid brown;
    justify-content: space-between;
    gap: 10px;
}
.search-container {
    width: 100%;
    padding: 0;
    // border: 1px solid teal;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 2px solid greenyellow;
    padding: 10px;
    width: fit-content;
    min-width: 150px;
    font-size: 1.1rem;
    color: gray;
    font-weight: 600;
}
.get-help-body .nav-container a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    text-underline-position: above;
}

@media (max-width: 750px) {
    .search-nav-container {
        flex-direction: column;
        align-items: flex-start;
    }
}

