//Color
$textColor-0: rgb(12, 161, 203);
$textColor-1: rgb(9, 178, 225);
$textColor-2: rgb(107, 105, 105);
$textColor-3: gold;
$textColor-4: rgb(174, 11, 87);
$textColor-5: white;
$textColor-6: black;
$textColor-7: rgba(9, 178, 225, 0.484);
$textColor-8: blue;
$textColor-9:  rgb(8, 8, 188);
$heroBgColor: rgb(21, 21, 21);
$bgColor: rgb(174, 11, 87);
$bgColorHover: rgb(162, 10, 81);
$box-shadow: 0.5px 0.5px 6px rgba(128, 128, 128, 0.177);
$box-shadow-1: 1px 1px 6px rgba(128, 128, 128, 0.177);
$box-shadow-2: 3px -3px 10px rgba(128, 128, 128, 0.273);


.get-help-ticket-body {
    padding: 20px 10%;
}