button {
    background-color: blue !important;
    font-weight: 400 !important;
    padding: 10px 20px !important;
    box-sizing: border-box !important;
    font-size: 0.9rem !important;
    outline: none !important;
    border: none !important;
    font-weight: 600 !important;
    min-height: 35px !important;
}

button:hover {
    background-color: #0808bc !important;
    border: none !important;
}