//Color
$textColor-0: rgb(12, 161, 203);
$textColor-1: rgb(9, 178, 225);
$textColor-2: rgb(107, 105, 105);
$textColor-3: gold;
$textColor-4: rgb(174, 11, 87);
$textColor-5: white;
$textColor-6: black;
$textColor-7: rgba(9, 178, 225, 0.484);
$textColor-8: blue;
$textColor-9:  rgb(8, 8, 188);
$heroBgColor: rgb(21, 21, 21);
$bgColor: rgb(174, 11, 87);
$bgColorHover: rgb(162, 10, 81);
$box-shadow: 0.5px 0.5px 6px rgba(128, 128, 128, 0.177);
$box-shadow-1: 1px 1px 6px rgba(128, 128, 128, 0.177);
$box-shadow-2: 3px -3px 10px rgba(128, 128, 128, 0.273);



header {
    background-color: $textColor-5;
    color: black;
    box-shadow: $box-shadow-1;
}

header .button {
    background-color: $textColor-8 !important;
    color: $textColor-5 !important;
}
header .button:hover {
    background-color: $textColor-9 !important;
}

.logo {
    color: $textColor-8;
}

.box {
    background-color: $textColor-6;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $textColor-5;
    color: black;
    min-height: 90vh;
    min-height: 90dvh;
    width: 100%;
    box-sizing: border-box;
    padding: 5% 5%;
    // border: 2px solid white;
    overflow: hidden;
}
.section-1 .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid red;
    min-height: 100%;
    width: 90%;
    box-sizing: border-box;
    padding: 10px;
}
.text-focal-point, .image-focal-point {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid orangered;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    padding: 10px;
    
}
.section-1 .text-focal-point, .section-1 .image-focal-point {
    animation: openAnim 1000ms ease 100ms 1 forwards;
}
@keyframes openAnim {
    0% {
        opacity: 0;
        transform: translateY(5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.text-focal-point {
    text-align: start;
    width: 80%;
}
.text-focal-point .core-value {
    color: $textColor-8;
    text-align: inherit;
    // border: 1px solid black;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 2.8rem;
    font-weight: 800;
}

.summary-container {
    display: flex;
    align-items: center;
    justify-content: start;
    color: $textColor-6;
    padding: 5px;
    margin: 5% 0 0 0;
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
}
.summary-container .summary {
    max-width: 500px;
    // border: 2px solid red;
    box-sizing: border-box;
}




.image-focal-point {
    display: flex;
    justify-content: center;
    align-self: center;
    box-sizing: border-box;
}
.image-focal-point .hero-image {
    transition: 600ms ease-in-out;
}
.saving-body .image-focal-point:hover .hero-image {
    transition: 600ms ease-in-out;
    transform: rotate(0deg) translateY(0px);
    box-sizing: border-box;
}

.image-focal-point .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    box-sizing: border-box;
    border-radius: 0;
    background-color: rgb(65, 63, 63);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: imageAnim 2000ms ease-in-out 500ms infinite alternate-reverse;
    transform: rotate(22.5deg);
    // border: 1px solid purple;
    overflow: hidden;
    box-shadow: none;
}
@keyframes imageAnim {
    0% {
        background-color: rgb(103, 100, 100); 
    }
    100% {
        background-color: rgb(65, 63, 63);
    }
}
@media (max-width: 1000px) {
    .section-1 .content-container {
        flex-direction: column;
        padding: 10% 10px;
        width: 100%;
    }
    .text-focal-point {
        text-align: center;
        width: 100%;
    }
    .text-focal-point .core-value {
        font-size: 2.4rem;
    }
    .summary-container {
        font-size: 1.1rem;
        justify-content: center;
    }
    .image-focal-point .image-container {
        width: 300px;
        height: 300px;
    }

}
@media (max-width: 750px) {
    .content-container {
        flex-direction: column;
    }
    .text-focal-point {
        text-align: center;
    }
    .text-focal-point .core-value {
        font-size: 2rem;
    }
    .summary-container {
        font-size: 1rem;
    }
    .image-focal-point .hero-image {
        width: 350px;
        height: 350px;
    }
    .image-focal-point .image-container {
        width: 250px;
        height: 250px;
    }

}
@media (max-width: 350px) {
    .section-1 {
        padding: 20px 0;
    }
    .content-container {
        flex-direction: column;
    }
    .text-focal-point {
        text-align: center;
    }
    .text-focal-point .core-value {
        font-size: 1.8rem;
    }
    .image-focal-point .hero-image {
        width: 250px;
        height: 250px;
    }
    .image-focal-point .image-container {
        width: 200px;
        height: 200px;
    }
}




.saving-body .section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    min-height: 90dvh;
    width: 100%;
    background-color: white;
    padding: 5%;
    box-sizing: border-box;
    overflow: hidden;
    // border: 2px solid red;
}

.section-2 .box-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50vh;
    min-height: 50dvh;
    height: fit-content;
    width: 100%;
    padding: 10px;
    gap: 5px;
    margin: 10px;
    // border: 2px solid navy;
    overflow: hidden;
}

.section-2 .title {
    font-weight: 800;
    font-size: 1.5rem;
    color: $textColor-6;
}
.section-2 .text-focal-point, .image-focal-point {
    min-height: 100%;
    // border: 2px solid black;
}
.section-2 .image-focal-point {
    place-items: start;
}
.section-2 .image-focal-point:nth-child(even) {
    place-items: end;
}
.section-2 .image-container {
    transform: translate(0px);
    background-image: none;
}
.section-2 .image {
    width: 100%;
    height: 100%;
}
.section-2 .features-content-container {
    display: flex;
    justify-content: center;
    align-self: center;
    // border: 2px solid black;
    width: 80%;
    padding: 10px;
    margin: 7% 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    border-radius: 10px;
}
.features-content-container .title {
    text-align: start;
    font-size: 2.2rem;
    width: 100%;
    font-weight: 700;
    max-width: 500px;
    color: $textColor-8;
    overflow: hidden;
}
.features-content-container .text-description {
    // border: 2px solid black;
    box-sizing: border-box;
    padding: 10px 0;
    font-family: inherit;
    font-size: 1.05rem;
    font-weight: 500;
    color: $textColor-2;
    max-width: 500px;
}
.section-2 .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: fit-content;
    width: 100%;
    max-width: 1000px;
    height: fit-content;
    min-height: 300px;
    border-radius: 15px;
    gap: 10px;
    padding: 5%;
    box-sizing: border-box;
    background-color: $heroBgColor;
    box-shadow: $box-shadow-2;
    background-image: url(../image//download-app-1.png);
    background-position: bottom right;
    background-size: 50%;
    background-repeat: no-repeat;
}
.section-2 .content-title {
    font-size: 1.8rem;
    font-weight: 800;
    color: $textColor-1;
    padding: 10px;
}
.section-2 .content-description {
    font-size: 1rem;
    font-weight: 600;
    max-width: 400px;
    color: $textColor-5;
    padding: 10px;
    // border: 2px solid red;
    text-align: start;
}
.section-2 button {
    background-color: $textColor-8 !important;
    margin-left: 10px;
}
.section-2 button:hover {
    background-color: $textColor-9 !important;
}

@media (max-width: 1000px) {
    .section-2 .box-wrapper {
        flex-direction: row;
    }
    .section-2 .features-content-container {
        flex-direction: column;
        width: 100%;
    }
    .section-2 .features-content-container:nth-child(odd) {
        flex-direction: column-reverse;
    }
    .section-2 .image-focal-point {
        place-items: center !important;
    }
    .features-content-container .title {
        text-align: center;
    }
    .section-2 .content-title {
        font-size: 1.75rem;
    }
    .section-2 .content-description {
        font-size: 0.95rem;
    }
}
@media (max-width: 750px) {
    .section-2 .box-wrapper {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .features-content-container .title {
        font-size: 1.8rem;
    }
    .features-content-container .text-description {
        font-size: 0.9rem;
        max-width: 400px;
    }
    .section-2 .content-title {
        font-size: 1.7rem;
    }
    .section-2 .content-description {
        font-size: 0.9rem;
    }
}
@media (max-width: 600px) {
    .section-2 .content-container {
        background-image: none;
        align-items: center;
    }
    .section-2 .content-description {
        text-align: center;
    }
}
@media (max-width: 350px) {
    .section-2 {
        padding: 5% 0;
    }
    .features-content-container .title {
        font-size: 1.6rem;
    }
    .features-content-container .text-description {
        font-size: 0.8rem;
    }
    .section-2 .content-container {
        margin: 5px;
        width: 80%;
    }
    .section-2 .content-title {
        font-size: 1.60rem;
    }
    .section-2 .content-description {
        font-size: 0.85rem;
    }
}









/*****Animation on Scroll*****/
.aos-left {
    opacity: 0;
    transform: translateX(-400%);
    transition: 400ms ease;
}

.aos-right {
    opacity: 0;
    transform: translateX(400%);
    transition: 400ms ease;
}

.aos-top {
    opacity: 0;
    transform: translateY(-10%);
    transition: 400ms ease;
}
.aos-bottom {
    opacity: 0;
    transform: translateY(10%);
    transition: 400ms ease;
}
.aos-fade {
    opacity: 0;
    transition: 600ms ease;
}

.aos-show {
    transform: translateX(0);
    transform: translateY(0);
    opacity: 1;
}



